{% extends "cis/logged-base.html" %}
{%block title %}{{ page_title }}{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block body %}
<script>
    jQuery(function ($) {
        /* $('.ui.search').search({
            apiSettings: {
                url: "{% url 'cis:district_ajax_search' %}?q={query}"
            },
            fields: {
                results: 'items',
                title: 'name',
                url: 'html_url'
            },
            minCharacters: 3
        }); */

        $('.dataTable').DataTable();
    });
</script>
<div class="">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1 class="h3 mt-3 text-gray-800 mb-3">{{ record.name }}</h1>
        </div>
        <!-- <div class="col-md-6 col-sm-12">
            <div class="justify-content-end">
                <form class="form-inline p-2 justify-content-end">
                    <div class="ui search category focus">
                        <div class="ui left icon input">
                            <input class="prompt" type="text" placeholder="Search by name" autocomplete="off">
                        </div>
                        <div class="results"></div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url urls.all_items %}?{% query_transform %}">{{ labels.all_items }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ record.name }}</li>
        </ol>
    </nav>
</div>
<main>
    <div class="">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>
                        <div class="card-text">
                            {% if messages %}
                            <ul class="messages list-group">
                                {% for message in messages %}
                                <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>
                                    {{ message }}</li>
                                    {% endfor %}
                            </ul>
                            {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <input type="submit" class="btn btn-primary btn-sm" value="Update">&nbsp;
                                <input type="button" value="Delete" class="btn btn-danger btn-sm delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card mb-4">
                </div>
            </div>
        </div>

        <script>
            jQuery(document).ready(function($) {
                $("input.delete").on("click", function() {
                    if(!confirm("Are you sure you want to permanently delete this record?"))
                        return;
                    window.location = "{% url 'support_ticket:delete_type' record.id%}";
                });
            });
        </script>
    </div>

</main>
{% endblock %}