{% extends "cis/logged-base.html" %}
{% block title %}{{ page_title }}{% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<main>
    <div class="">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="h3 mb-4 text-gray-800">{{ page_title }}&nbsp;
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu">
                            {% if can_start %}<a class="dropdown-item" data-toggle="collapse" href="#addNewSupportRequest"
                                role="button" aria-expanded="false" aria-controls="addNewSupportRequest"><i
                                    class="fas fa-plus"></i>&nbsp;&nbsp;Add New Request</a>{% endif %}
                            <a href="{% url 'support_ticket:types' %}" class="dropdown-item"><i
                                    class="fas fa-tags"></i>&nbsp;&nbsp;Manage Types</a>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        {% if messages %}
        <div class="row">
            <div class="col-12">
                <ul class="messages list-group">
                    {% for message in messages %}
                    <li{% if message.tags %} class="list-group-item {{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <script>
            jQuery(document).ready(function ($) {
                $(document).on("submit", "form#frm_add_support_request", function (event) {
                    let ajaxurl = "{% url 'cis:add_new_ajax' %}";
                    let form = this;
                    $("form#frm_add_support_request").block({ message: 'Please wait...' });
                    $.ajax({
                        type: "POST",
                        url: ajaxurl,
                        data: $("form#frm_add_support_request").serialize() + "&action=add_new_support_request&model=supportrequest",
                        success: function (response) {
                            if (response.status == 'error') {
                                alert(response.message);
                                $(form).replaceWith(response.form_html);
                            } else {
                                alert(response.message);
                                window.location.reload();
                            }
                        }
                    });
                    event.preventDefault();
                });

                $(document).on("change", "select#id_send_to, select#id_highschool", function (event) {
                    let ajaxurl = "{% url 'cis:add_new_ajax' %}";
                    $("form#frm_add_support_request").block({ message: 'Please wait...' });
                    $.ajax({
                        type: "POST",
                        url: ajaxurl,
                        data: $("form#frm_add_support_request").serialize() + "&action=refresh_addSupportRequest&model=supportrequest",
                        success: function (response) {
                            $("form#frm_add_support_request").unblock();
                            $("form#frm_add_support_request").replaceWith(response.form_html);
                        }
                    });
                    event.preventDefault();
                });
            });
        </script>

        <div class="row">
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="addNewSupportRequest">
                    <div class="card card-body">
                        <h4>Add New Support Request</h4>
                        <form action="" method="post" id="frm_add_support_request">
                            {% csrf_token %}
                            {{ add_new_request_form | crispy }}
                            <input type="submit" class="btn btn-primary btn-sm" value="Add Request">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'support_ticket:requests' %}">All Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'support_ticket:summary' %}">Summary</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active">
                <div class="bg-white border border-top-0">
                    <div class="col-12 pt-3 mb-3">
                        {% include "support_ticket/ticket/_table.html" with table=table %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
